<div class="card-detail">
  <img
    src="https://sun1-97.userapi.com/s/v1/ig2/sJovpL1kvhen5m2IfnP68dBCyeqLNYotSLztLc2BCCCkho4rkXrN3UK2eG92xOjCKGbh51liAohqVfLn478xiutr.jpg?quality=95&as=32x23,48x34,72x51,108x77,160x114,240x170,360x256,480x341,540x383,640x454,720x511,1080x767,1280x908,1440x1022,2560x1817&from=bu&u=m8_Ce78YjPUOcU1_LWZUnM7cBTZJAZVuPF8WqyDX_sc&cs=604x429"
    alt="detail"
  />
  <div>
    <p>{{ book.id }}</p>
    <p>{{ book.name }}</p>
    <p>{{ book.pages }} стр.</p>
  </div>
  <button style="color: red" (click)="delete()">DELETE</button>
</div>
